.container_blogs{
    margin: 5rem;
    margin-top: 12rem; 
    border-bottom: 1px solid #21D1F5;  
    padding-bottom: 1rem;
}
.promotion_blogs{
    display: flex;
}
.content_blogs{
    margin-left: 2rem;
}
.view_more{ 
    width: fit-content;
    margin-top: 1.6rem;
    background-image: linear-gradient( 180deg,#21D1F5 ,#3BD1C8 );
    padding: 0.5rem;
}
.view_more>button{
    font-size: 15px;
    color: #ffffff;
}
.img_blogs{
    width: 110%;
}


