/* :root{
    --blue : #21D1F5;
    --green : #3BD1C8;
    --white : #fff;
    --darkgray : #1E1F29;
    --lightgray : #E4E7ED;
} */
.container_main{
    margin: 0 10%;
}
.banner__area{
    margin-top: 7.5rem;
    margin-bottom: 10rem;

}
.slide__item-left>h1{
    font-size: 50px;
}
.main__slide-item{
    display: flex;
}
.btn__add-cart{
    display: flex;
}
.btn__add-cart span{
    color: #fff;
}
.btn__add-cart>button{
    border-radius: 50%;
    padding: 0rem 1.4rem;
    border: none;
    background-image: linear-gradient(90deg, var(--blue), var(--green));
    margin-right: 1rem;
}
.slide__item-left{
    width: 40%;
    margin-left: 2rem;
}
.slide__item-right img{
    width: 100%;
}
.slide__item-right{
    width: 55%;
}
.banner__area .owl-next{
    position: absolute;
    z-index: 1;
    top: 4rem;
    right: 0;
}
.banner__area .owl-next>span{
    font-size: 100px;
    color: var(--blue);
}
.banner__area .owl-prev{
    position: absolute;
    z-index: 1;
    top: 4rem;
}
.banner__area .owl-prev>span{
    font-size: 100px;
    color: var(--blue);
}
/* --------------------------------- */
.category__sale-area{
    margin: 1rem;
    margin-top: 8rem;
    margin-left: 2rem;
}
.main__category-container{
    display: flex;
}
.main__category-items{
    display: flex;
    flex-wrap: wrap;
    width: 63%;
}
.category-item{
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.category-item:nth-child(2)>img,
.category-item:nth-child(3)>img
{
    height: 90%;
    margin: 0;
}
.category-item>img{
    width: 100%;
    height: 90%;
}
.main__category-poster img{
    width: 100%;
    height: 90%;
}
.overplay__cate{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1.1rem;
    background: rgba(100, 100, 100, 0.6);
    color: #fff;
    display: none;
}
.category-item a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1.1rem;
    color: #fff;
    transition: all 0.3s;
}
.category-item span{
    position: absolute;
    top: -2rem;
    left: 20%;
    font-size: 15px;
    transition: all 0.3s;
}
.category-item:hover>.overplay__cate{
    display: block;
}
.category-item:hover span{
    top: 45%;
}
/* product  */
.sec__title{
    text-align: center;
    margin: 2rem 0;
}
.product__selection{
    display: flex;
    flex-wrap: wrap;
}
ul.product__selection li{
    flex-basis: 23%;
    margin-bottom: 1rem;
    position: relative;
    margin-right: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.5s;
    overflow: hidden;
}

.product__selection-top{
    padding: 0.5rem;
    position: relative;
}
.product__selection-top img{
    width: 100%;
    height: 17rem;
}
.product__selection-top .stick_top{
    position: absolute;
    top: 15px;
    right: 10px;    
    font-size: 13px;
}
.product__selection-top .stick_top>span.sale{
    font-weight: 300;
    background-color: var(--white);
    border: 2px solid var(--blue);
    padding: 0.2rem 0.4rem;
    color: var(--blue);
}
.product__selection-top .stick_top>span.new{
    font-weight: 300;
    background-image: linear-gradient(90deg, var(--blue), var(--green));
    padding: 0.3rem 0.5rem;
    color: white;
}
.product__selection-info{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 18px;
}
.product__selection-info>.product__price{
    color: #000;
    font-size: 20px;
    font-weight: 700;
}
.product__selection-info>.product__price>span{
    color: rgb(66, 66, 66);
    font-weight: 200 !important;
    font-size: 15px;
    text-decoration: line-through;
    margin-left: 5px;
}
.product__selection-tools{
    text-align: center;
    position: relative;
    background-color: #fff;
}
.product__selection-tools>.rating::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 35%;
    left: 5px;
    top: 12px;
    background-color: #ccc;
}
.product__selection-tools>.rating::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 35%;
    right: 5px;
    top: 12px;
    background-color: #ccc;
}
.product__selection-tools>.rating>span{
    color: var(--blue);
    font-size: 17px;
    margin: 0 -3px;
}
.btn_add-buy>button{
    width: 130px;
    padding: 10px 15px;
    border-radius: 25px;
    color: white;
    background-image: linear-gradient(90deg, var(--blue), var(--green));
    font-size: 13px;
    margin-left: 25%;
    font-weight: 600;
    border: none;
    margin-bottom: 10px;
    transition: all 0.4s;
}
.btn_add-buy>button:hover{
    border: 2px solid var(--blue);
    background: #fff;
    color: var(--blue);
}
.btn_add-buy>button.cart{
    position: absolute;
    top: 25%;
    left: -70%;
}
.btn_add-buy>button.buy{
    position: absolute;
    top: 36%;
    right: -60%;
}
ul.product__selection li:hover .product__selection-top{
    filter: blur(5px);
}
ul.product__selection li:hover .btn_add-buy>button.cart{
    left: 5%;
}
ul.product__selection li:hover .btn_add-buy>button.buy{
    right: 28%;
}
.tools{
    margin: 15px;
    margin-left: 20%;
}
.hover_tools{
    margin-right: 2rem;
    padding: 12px;
    padding-bottom: 5px;
    padding-right: 10px;
}
.hover_tools:hover{
    background-image: linear-gradient(90deg, var(--blue), var(--green));
    border-radius: 40px;
    transition: all 0.3s;
    color: var(--white);
}
.hover_tools:hover ion-icon{
    color: var(--white);

}
/* tool tips */
/* tooltips */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    font-size: 12px;
    z-index: 1;
    transition: all .2s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    /* Sử dụng một nửa chiều rộng (120/2 = 60), để căn giữa tooltip */
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* mũi tên ở phía dưới tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
/*  */
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block;
}
.product__new-area .owl-next{
    position: absolute;
    z-index: 1;
    top: 0rem;
    right: 40%;
}
.product__new-area .owl-next::after{
    content: "NEXT";
    position: absolute;
    top: 2.3rem;
    right: -3rem;
    color: var(--blue);
}
.product__new-area .owl-next>span{
    font-size: 80px;
    color: var(--blue);
}
.product__new-area .owl-prev{
    position: absolute;
    z-index: 1;
    top: 0rem;
    left: 40%;
}
.product__new-area .owl-prev::after{
    content: "PREV";
    position: absolute;
    top: 2.3rem;
    left: -3rem;
    color: var(--blue);
}
.product__new-area .owl-prev>span{
    font-size: 80px;
    color: var(--blue);
}