@import url('/content/css/root.css');
.list__container{
    width: 60%;
    margin: 150px auto;
    background-color: #F8F9FF;
    padding: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.list__heading{
    font-weight: bold;
    font-size: 20px;
    /* margin-top: 30px; */
    /* text-align: center; */
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}
thead{
    background-color: #e7e7e7;
    font-weight: bold;
}
tr{
    text-align: center;
}
th, td{
    padding: 8px 15px;
}
.hinh>img{
    width: 100%;
}
td:first-child{
    width: 5%;
}
td:last-child{
    width: 15%;
}
.hinh{
    width: 15%;
}
/* .list__action--container{
    text-align: start;
} */
.list__action{
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* align-items: center; */
}
.list__action>a>button{
    width: 5rem;
    background-color: #fff;
    /* background-image: linear-gradient(90deg, var(--blue), var(--green)); */
    padding: 5px 10px;
    /* transition: all 0.25s linear; */
}
.list__action>a>button:hover{
    background-image: linear-gradient(90deg, var(--blue), var(--green));
    color: #fff;
}
.admin_btn{
    padding: 3px 8px;
    background-color: #fff;
    margin-right: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 3px;
    /* transition: all 0.1s linear; */
    margin-top: 5px;
}
.admin_btn:hover{
    background-image: linear-gradient(90deg, var(--blue), var(--green));
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}